* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 700px;
	color: white;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-hor {
	flex-direction: row;
}
